﻿@model Kutyatenyeszto.WEB.Models.Institution;

@{
    ViewData["Title"] = "InstitutionDetails";
}

<h2>Datasheet of one institution</h2>

@Html.ActionLink("Back to the list", "Index")

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.InstitutionId)</td>
        <td>@Html.DisplayFor(m => m.InstitutionId)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Address)</td>
        <td>@Html.DisplayFor(m => m.Address)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.PhoneNumber)</td>
        <td>@Html.DisplayFor(m => m.PhoneNumber)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Director)</td>
        <td>@Html.DisplayFor(m => m.Director)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Capacity)</td>
        <td>@Html.DisplayFor(m => m.Capacity)</td>
    </tr>
</table>