﻿@model Kutyatenyeszto.WEB.Models.InstitutionListViewModel

@{
    ViewData["Title"] = "Crud Index";
}

<h2>Institution Index</h2>

<p style="color:red">@TempData["editResult"]</p>

@await Html.PartialAsync("InstitutionEdit", Model.EditedInstitution)

@await Html.PartialAsync("InstitutionList", Model.ListOfInsitutions)
