﻿@model IEnumerable<Kutyatenyeszto.WEB.Models.Institution>

<h2>Institution List</h2>

@if (Model.Count() == 0)
{
    <p> No data in the database</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Name)</th>
            <th>@Html.DisplayNameFor(m => m.First().Address)</th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Modify</th>
        </tr>
        @foreach (var institution in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => institution.Name)</td>
                <td>@Html.DisplayFor(m => institution.Address)</td>
                <td>@Html.ActionLink("[SHOW]", "Details", new { id = institution.InstitutionId})</td>
                <td>@Html.ActionLink("[DEL]", "Remove", new { id = institution.InstitutionId})</td>
                <td>@Html.ActionLink("[EDIT]", "Edit", new { id = institution.InstitutionId})</td>
            </tr>
        }
    </table>
}