﻿@model Kutyatenyeszto.WEB.Models.Institution

<h2>Institution Edit</h2>

@using (Html.BeginForm("Edit", "Institutions"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.InstitutionId)

    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Address)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Address)</div>

    <div class="editor-label">@Html.LabelFor(m => m.PhoneNumber)</div>
    <div class="editor-field">@Html.EditorFor(m => m.PhoneNumber)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Director)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Director)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Capacity)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Capacity)</div>

    <input type="submit" value="SEND" />
}