﻿@model IEnumerable<Kutyatenyeszto.Data.Models.Institution>
@{
    ViewData["Title"] = "Result List";
}

<h1>Not Selected elements:</h1>
<table>
    @foreach (var item in Model)
    {
        @if (item.Selected == false)
        {
            <tr>
                <td>@Html.Raw(item.InstitutionId)</td>
                <td>@Html.Raw(item.Name)</td>
                <td>@Html.Raw(item.Selected)</td>
            </tr>
        }
    }
</table>

<h1>Selected elements:</h1>
<table>
    @foreach (var item in Model)
    {
        @if (item.Selected == true)
        {
            <tr>
                <td>@Html.Raw(item.InstitutionId)</td>
                <td>@Html.Raw(item.Name)</td>
                <td>@Html.Raw(item.Selected)</td>
            </tr>
        }
    }
</table>
<hr />
